@import './fonts';

@mixin link {
  a {
    @include open-sans(600);
    @content;
    &,
    &:active,
    &:hover,
    &:visited {
      text-decoration: none;
    }

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}
@mixin link-on-light {
  @include link {
    color: $color__black;
  }
}
@mixin link-on-dark {
  @include link {
    color: $color__white;
  }
}
