@import '../../styles/mixins/media/preferences';

.app {
}
.appPageContent {
  width: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  position: initial;
  @include use-motion {
    transition: all 200ms ease-in-out;
  }
}
.appPageContentEnterActive {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  position: absolute;
}
.appPageContentExitActive {
  opacity: 0;
  transform: translate3d(0, 0, -50%);
  position: absolute;
}
