// Local variables
$local--color-text: var(--theme-color-primary);
$local--color-background: var(--theme-color-primary--contrast);

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $local--color-text;
  background-color: $local--color-background;
  padding: 1.4em;
}
.footerDescription {
  margin: 0;
  &:after {
    content: '';
    margin: 0.25em 0 0 -25%;
    bottom: 0;
    height: 1px;
    width: 150%;
    display: block;
    background-size: contain;
    background: $local--color-text;
    opacity: 0.5;
  }
}
.footerCopyright {
  font-size: 0.7em;
  margin: 1em 0 0 0;
}
