@import '../variables';
@import '../mixins';

.getting-started {

  /**
   * Local variables
   */
  $local__padding: 2em;
  $local__bg-color: $color__black;
  $local__color: $color__white;
  $local__shadow-color: $color__black;
  @mixin local__medium-screen {
    @include tablet-portrait-up {
      @content;
    }
  }

  @include link-on-dark;
  @include responsive-background('../../../assets/images/austin-schmid-37423-unsplash.jpg', 'no-repeat 86% 0% / cover');
  display: flex;
  padding: $local__padding;
  background-color: $local__bg-color;
  color: $local__color;
  min-height: 40em;
  align-items: flex-end;
  text-shadow: 0 0 0.2em $local__shadow-color;

  @include local__medium-screen {
    align-items: flex-start;
  }

  // Description
  &__description {
    @include local__medium-screen {
      background: initial;
      max-width: 26em;

      // Animate focus
      transform: scale(0.9) translateX(-2em) translateY(2em);
      transition: transform 1s ease-out;
      &.is-focused {
        transform: scale(1) translateX(0em) translateY(0em);
      }
    }
  }
}
