@import '../variables';
@import '../mixins';

.header {

  /**
   * Local variables
   */
  $local__navbar-height: $global__navbar-height;
  $local__shadow-color: $color__black;
  $local__color: $color__white;
  $local__color--secondary: $color__scheme__primary;
  $local__padding: 1em;
  @mixin local__large-screen {
    @include tablet-landscape-up {
      @content;
    }
  }

  min-height: 20em;
  overflow: hidden;
  text-align: center;
  color: $local__color;
  text-shadow: 0 0 0.2em $local__shadow-color;
  padding: $local__navbar-height $local__padding $local__padding $local__padding;
  font-size: 1.1em;
  &--main {
    @include responsive-background('../../../assets/images/florian-olivo-1169465-unsplash.png', 'linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.3) 100%),', 'no-repeat center center / cover');
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.3) 100%), url('../../../assets/images/florian-olivo-1169465-unsplash.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  // Hero
  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Title
  &__title {
    margin: 10vh 0 0 0;
    font-size: 4em;
    line-height: 1;
  }
  &__subtitle {
    @include open-sans(300);
    color: $local__color--secondary;
    font-size: 0.7em;
    text-transform: uppercase;

    /**
     * Animation
     */
    @keyframes header-letter-spacing-animation {
      0%{
        letter-spacing: -0.2em;
        opacity: 0;
      }
      40%{
        letter-spacing: 0.2em;
        opacity: 1;
      }
      100%{
        letter-spacing: 0.2em;
        opacity: 1;
      }
    }
    @include local__large-screen {
      @keyframes header-letter-spacing-animation {
        0%{
          letter-spacing: -0.3em;
          opacity: 0;
        }
        40%{
          letter-spacing: 0.3em;
          opacity: 1;
        }
        100%{
          letter-spacing: 0.3em;
          opacity: 1;
        }
      }
    }

    opacity: 0;
    animation: header-letter-spacing-animation 3s ease-out forwards;
    animation-delay: 0.5s;
  }

  // Description
  &__description {
    margin-top: 2em;
    max-width: 500px;
  }
}
