@import '../variables';

.highlight {

  /**
   * Local variables
   */
  $local__color__light: $color__grey--light;
  $local__color__dark: $color__grey--dark;
  $local__color__white: $color__white;

  display: block;
  font-family: monospace, monospace;
  padding: 0.5em;
  margin: 1em 0;

  &--inline {
    display: inline;
  }
  &--command {
    background-color: $local__color__dark;
    color: $local__color__white;
    &:before {
      content: '$ ';
    }
  }
  &--path {}
}
