@import '../variables';
@import '../mixins';

.region {
  /**
   * Local variables
   */
  $local__padding: 2em;
  $local__color__primary: $color__scheme__secondary--contrast;
  $local__color__primary--text: $color__black;
  $local__color__secondary: $color__white;
  $local__color__secondary--text: $color__black;
  $local__color__varan: $color__black;
  $local__color__varan--text: $color__white;

  @include link-on-light;
  display: flex;
  padding: $local__padding;

  // Backgrounds
  & {
    &--primary {
      background-color: $local__color__primary;
      color: $local__color__primary--text;
    }
    &--secondary {
      background-color: $local__color__secondary;
      color: $local__color__secondary--text;
    }
  }
}
