@import '../variables';
@import '../mixins';

.section {
  /**
   * Local variables
   */
  $local__max-width: $global__max-width;
  $local__color__grey: $color__grey;
  $local__color__grey--light: $color__grey--light;
  $local__color__blue: $color__blue;
  @mixin local__medium-screen {
    @include tablet-portrait-up {
      @content;
    }
  }
  @mixin local__large-screen {
    @include tablet-landscape-up {
      @content;
    }
  }
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  // Types of sections
  &--primary {
    $local__color: $color__black;
    $local__bg-color: $color__azureish-white;
    color: $local__color;
    background: $local__bg-color;
  }
  &--secondary {
    $local__color: $color__white;
    $local__bg-color: $color__dark-cerulean;
    color: $local__color;
    background: $local__bg-color
      linear-gradient(-60deg, lighten(desaturate($local__bg-color, 2%), 2%) 50%, $local__bg-color 50%);
  }

  // Inner section container
  &__container {
    @include open-sans();
    padding: 2rem 2rem 4rem 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: $local__max-width;
  }

  // Elements
  &__title {
    @include open-sans(600);
    margin-top: 1em;
    font-size: 2em;
  }
  &__subtitle {
    @include open-sans();
    margin-top: 0.2em;
    font-size: 1.2em;
  }
}
