// ----------
// Shake animation
// ----------
@keyframes animation-shake {
  10%,
  90% {
    transform: translate3d(-1px, 1px, 0);
  }
  20%,
  80% {
    transform: translate3d(1px, -1px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-1px, -1px, 0);
  }
  30%,
  70% {
    transform: translate3d(1px, 1px, 0);
  }
}

// ----------
// Animated background size (used for gradient animations)
// ----------
@keyframes animation-background-size {
  0% {
    background-size: 100% 50%;
  }
  50% {
    background-size: 400% 50%;
  }
  100% {
    background-size: 100% 50%;
  }
}
