@import 'mixins/fonts/open-sans';
@import 'mixins/media/screen';
@import 'colors';

// -----------------
// Global variables
// -----------------
:root {
  // Navbar
  --navbar-height: 4rem;

  // Settings
  --settings-max-width: 80rem;
  --settings-gutter: 2rem;

  // Colors
  --color-text: #{$color-turquoise};
  --color-link: #{$color-turquoise--dark};
  --color-background: #{$color-black--80};
}

html {
  @include open-sans();
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-background);
  ul,
  li {
    list-style-type: none;
  }

  // Responsiveness
  @include tablet-landscape-up {
    font-size: 1.1em;
  }
}
