@import url('~normalize.css');
@import 'variables';
@import 'mixins';
@import 'animations';

html {
  @include open-sans();
  background-color: $color__white;
  font-size: $font__size;
  @include tablet-landscape-up {
    font-size: 1.1em;
  }
  line-height: 1.5;
  ul,
  li {
    list-style-type: none;
  }
  @include link-on-light;
}

// Load components
@import 'components';
