@import '../../styles/mixins/fonts/open-sans';
@import '../../styles/mixins/media/media';
@import '../../styles/colors';

// ----------------
// Local variables
// ----------------
$local--animation-duration: 200ms;
$local--padding: 1em;
$local--hamburger--line-height: 4px;

// -------------
// Local mixins
// -------------
@mixin local--large-screen {
  @include tablet-landscape-up {
    @content;
  }
}

.navbar {
  // ----------
  // Overrides
  // ----------

  // ------
  // Style
  // ------
  background-color: transparent;
  transition: ease-out background-color $local--animation-duration;
  width: 100%;
  height: var(--navbar-height);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $local--padding;
  z-index: 10;

  // Statusbar
  &:before {
    content: '';
    width: 100%;
    height: calc(var(--navbar-height) / 4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(240, 0, 0, 0), rgba(240, 0, 0, 0.3));
    opacity: 0;
    transition: ease-out opacity $local--animation-duration;
  }
}
.navbarSticky {
  background-color: var(--color-background);
  box-shadow: 0 0 0.2em $color-black--100;
}
.navbarOffline {
  &:before {
    opacity: 1;
  }
}
.navbarLogo {
  height: var(--navbar-height);
  width: calc(var(--navbar-height) * (64 / 44));
  background: url('../../../assets/vector/logo.svg') no-repeat center center;
  background-size: contain;
  display: flex;
  z-index: 10;
}
.navbarLogoText {
  font-size: 0;
}
.navbarHamburger {
  position: fixed;
  z-index: 10;
  right: $local--padding;
  height: var(--navbar-height);
  width: var(--navbar-height);
  padding: $local--padding / 2;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
  background: none;
  border: none;
  cursor: pointer;
  @include local--large-screen {
    display: none;
  }
}
.navbarHamburgerLine {
  height: $local--hamburger--line-height;
  border-radius: $local--hamburger--line-height;
  background-color: var(--color-text);
  transition: background-color $local--animation-duration ease-in-out;
  display: block;

  // Animate opening and closing
  &:first-child,
  &:last-child {
    transform: rotate(0deg) translateY(0) translateX(0);
    transition: transform $local--animation-duration ease-in-out;
  }
  &:not(:first-child):not(:last-child) {
    transform: rotateY(0deg);
    transition: transform $local--animation-duration ease-in-out;
  }
}
.navbarHamburgerLineExpanded {
  $local--hamburger-line-rotation-offset: calc((var(--navbar-height) - #{$local--padding}) * 1 / 3);
  &:first-child {
    transform: translate3d(0, $local--hamburger-line-rotation-offset, 0) rotate(45deg);
  }
  &:not(:first-child):not(:last-child) {
    transform: rotateY(90deg);
  }
  &:last-child {
    transform: translate3d(0, calc(#{$local--hamburger-line-rotation-offset} * -1), 0)
      rotate(-45deg);
  }
}
.navbarList {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0 0 0 100vw;
  overflow: hidden;
  padding: calc(var(--navbar-height) * 2) 0 0 0;
  background-color: var(--color-background);
  transform: translateX(0);
  transition: transform $local--animation-duration ease-in-out;
  @include local--large-screen {
    position: relative;
    padding: 0;
    margin: 0 0 0 $local--padding;
    background-color: initial;
    height: initial;
    width: initial;
  }
}
.navbarListExpanded {
  transform: translateX(-100%);
  @include local--large-screen {
    transform: none;
  }
}
.navbarListContent {
  margin: 0;
  padding: 0;
  text-align: center;
  @include local--large-screen {
    display: flex;
    flex: 1;
  }
}
.navbarListContentExpanded {
}
.navbarListItem {
  font-size: 2em;
  letter-spacing: 0.1em;
  @include local--large-screen {
    display: inline-block;
    font-size: initial;
    padding: 0 $local--padding;
    letter-spacing: initial;
  }
}
.navbarListItemMobile {
  @include local--large-screen {
    display: none;
  }
}
