// Local variables
$local--max-width: var(--theme-settings-max-width);
$local--gutter: var(--theme-settings-gutter);

.sectionContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.section {
  max-width: $local--max-width;
  margin: $local--gutter;
}
