// ----------
// Typography
// ----------
$font__size: 16px;

// ------
// Colors
// ------
$color__white: #ffffff;
$color__white--off: #eeeeee;
$color__black: #000000;
$color__grey--dark: #333333;
$color__blue: #3b5995;
$color__pink: #aa347c;
$color__red: #aa323e;
$color__green: #49aa6a;

// -------------
// Site settings
// -------------
$padding__step: 0.3rem;

// ---------------
// Responsive Grid
// ---------------
