@import url('~normalize.css');
@import 'variables';
@import 'fonts';
@import 'mixins';

html {
  @include open-sans();
  background-color: $color__green;
  font-size: $font__size;
  line-height: 1.5;
  ul, li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}
.App {
  // Load components
  @import 'components';
}
