@import '../../styles/mixins/fonts/open-sans';
@import '../../styles/mixins/media/screen';

.feature {
  display: flex;
  justify-self: center;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  max-width: 24em;
}
.featureIcon {
  display: flex;
  flex: 1;
  flex-basis: 5em;
}
.featureTitle {
  @include open-sans(600);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.featureSubtitle {
  @include open-sans(300);
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
