@import 'styles/mixins/fonts/open-sans';
@import 'styles/mixins/media/media';

.app {
  // --------------
  // App variables
  // --------------

  // Colors
  --color-white--100: #efefef;
  --color-black--100: #101010;
  --color-black--80: #333333;
  --color-turquoise--100: #59c3c3;

  // NavBar
  --navbar-height: 4rem;

  // Theme
  --theme-color-primary: var(--color-turquoise--100);
  --theme-color-primary--contrast: var(--color-black--80);

  // -------------
  // App defaults
  // -------------
  @include open-sans();
  font-size: 14px;
  @include tablet-landscape-up {
    font-size: 1.1em;
  }
  line-height: 1.5;
  ul,
  li {
    list-style-type: none;
  }
  background: var(--bg-color);
}
