.terminalHeader {
  // ----------
  // Overrides
  // ----------

  // ------
  // Style
  // ------
  flex-basis: calc(var(--navbar-height) * 9);
  justify-content: flex-end;
  padding: 0 var(--settings-gutter);
}
.terminalHeaderTerminal {
  margin-top: calc(var(--navbar-height) * 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
}
