@import '../../../styles/mixins/media/screen';
@import '../../../styles/mixins/media/preferences';
@import '../../../styles/mixins/styles/focus';
@import '../../../styles/colors';

// ----------------
// Local variables
// ----------------
$local--animation-duration: 200ms;
$local--padding: 1em;
$local--hamburger-size: calc(var(--navbar-height));
$local--hamburger--line-height: 4px;

// -------------
// Local mixins
// -------------
@mixin local--large-screen {
  @include tablet-landscape-up {
    @content;
  }
}

.navHamburger {
  // ----------
  // Overrides
  // ----------

  // ------
  // Style
  // ------
  @include accessible-focus();
  z-index: 10;
  height: $local--hamburger-size;
  width: $local--hamburger-size;
  padding: $local--padding / 2;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 0.3em var(--color-link);
  }
  @include use-motion {
    transition: linear box-shadow $local__animation-duration;
  }
  @include local--large-screen {
    display: none;
  }
}
.navHamburgerLine {
  height: $local--hamburger--line-height;
  border-radius: $local--hamburger--line-height;
  background-color: var(--color-link);
  @include use-motion {
    transition: transform $local--animation-duration ease-in-out;
  }
  display: block;

  // Animate opening and closing
  &:first-child,
  &:last-child {
    transform: rotate(0deg) translateY(0) translateX(0);
  }
  &:not(:first-child):not(:last-child) {
    transform: rotateY(0deg);
  }
}
.navHamburgerLineExpanded {
  $local--hamburger-line-rotation-offset: calc(
    (#{$local--hamburger-size} - #{$local--padding}) * 1 / 3
  );
  &:first-child {
    transform: translate3d(0, $local--hamburger-line-rotation-offset, 0) rotate(45deg);
  }
  &:not(:first-child):not(:last-child) {
    transform: rotateY(90deg);
  }
  &:last-child {
    transform: translate3d(0, calc(#{$local--hamburger-line-rotation-offset} * -1), 0)
      rotate(-45deg);
  }
}
